<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img'
style='background-image:url("img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Decoding the cellular responses to genotoxic stress that drive aging
    </h1>
  </div>
</div>
<div class='grid-x grid-padding-x grid-container grid-padding-y add-padd'  data-equalizer>
  <div class='medium-6 large-7 cell out-vc'  data-equalizer-watch>
    <div class='in-vc'>
      <h4><em>“We’ve put more effort into helping folks reach old age than into helping them enjoy it.”</em></h4>
      <h5>- We WANT to CHANGE this</h5>
      <p class='web-pro-text'>
        The Gurkar lab is interested in defining the molecular mechanisms that drive aging in response to endogenous DNA damage, which accumulates in all of us over time. The majority of individuals over the age of 65 years suffer from at least two chronic degenerative diseases- neurodegeneration, cardiovascular disease, diabetes, cancer etc. These chronic diseases of the elderly consume an increasingly large fraction of our health care costs and rob individuals of their independence and quality of life.
      </p>
    </div>
  </div>
  <div class='medium-6 large-5 cell out-vc'  data-equalizer-watch>
    <div class='in-vc'>
      <div class="responsive-embed widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9eOofp64IYI?autoplay=0&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div
class='bg-img'
style='background-image:url("img/bg/bg2.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      About Aditi Gurkar
    </h1>
  </div>
</div>
<div class='grid-x grid-padding-x grid-container grid-padding-y add-padd'  data-equalizer>
  <div class='shrink large-offset-1 cell out-vc'  data-equalizer-watch>
    <div class='in-vc'>
      <img src='img/profile-pic/aditi.jpg'>
    </div>
  </div>
  <div class='medium-6 large-6 cell out-vc'  data-equalizer-watch>
    <div class='in-vc'>
      <p class='web-pro-text'>
        Aditi U. Gurkar is an Assistant Professor in the Aging Institute, Division of Geriatric Medicine at the University of Pittsburgh. I believe that aging is one true mystery that surrounds us. Aging is inescapable and unfortunately the principal risk factor for a number of diseases including cancer, heart disease and Alzheimer disease (AD). If we can therefore unlock this mystery at a molecular level, we could uncover the Fountain of Youth and live healthier, fuller lives.
      </p>
      <button class="hollow button" href="#">Learn More About Aditi Gurkar </button>
    </div>
  </div>
</div>
<div
class='bg-img'
style='background-image:url("img/bg/bg3.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Research Interests
    </h1>
  </div>
</div>
<div class='grid-x medium-up-3 grid-padding-x grid-container grid-padding-y add-padd'  data-equalizer>
  <div class='cell'>
    <div class='my-card'>
      <div 
        class='card-img'
        style='background-image: url("img/research/nucleo_mitochondrial_communicome-aditi_gurkar.jpg");'
      ></div>
      <h4>Nucleo Mitochondrial Communicome</h4>
      <p>
        The central hypothesis that guides our research is that stochastic, endogenous nuclear DNA damage alters cellular and metabolic programs, leading to progression of multiple, age- related degenerative diseases.
      </p>
      <button class="hollow button" href="#">Read More</button>
    </div>
  </div>
  <div class='cell'>
    <div class='my-card'>
      <div 
        class='card-img'
        style='background-image: url("img/research/heart.jpg");'
      ></div>
      <h4>DNA damage and Heart disease</h4>
      <p>
        Problems with DNA repair pathways have been observed in cardiac failure patients. Additionally, recent data suggests that pediatric patients treated with genotoxic agents, develop disabling or life-threatening age- related diseases compared to their siblings.
      </p>
      <button class="hollow button" href="#">Read More</button>
    </div>
  </div>
  <div class='cell'>
    <div class='my-card'>
      <div 
        class='card-img'
        style='background-image: url("img/research/post_mitotic.jpg");'
      ></div>
      <h4>Genotoxic stress response in post-mitotic cells</h4>
      <p>
        Replicative cells respond to DNA damage with cell fate decisions such as cell cycle arrest, cellular senescence or apoptosis.
      </p>
      <button class="hollow button" href="#">Read More</button>
    </div>
  </div>
</div>

<div
class='bg-img'
style='background-image:url("img/bg/bg4.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Publications
    </h1>
  </div>
</div>
<div class='grid-x grid-padding-x grid-container grid-padding-y add-padd'  data-equalizer>
  <div class='cell'>
    <h3>Recent Publications</h3>
  </div>
  <div class='grid-x medium-up-3'>
    <div class='cell'>
      <div class='my-card'>
        <h4 class='publication-heading'>
          Exonic variants in aging-related genes are predictive of phenotypic aging status
        </h4>
        <h6 class='publication-author'>Breitbach ME, Greenspan­ S, Resnick NM, Perera S, Gurkar AU, Absher D*, Levine AS*</h6>
        <p class='publiction-journel'>Frontiers in Genetics (in press, 2019)</p>
        <button class="hollow button" href="#">Read More</button>
      </div>
    </div>
    <div class='cell'>
      <div class='my-card'>
        <h4 class='publication-heading'>
          Exonic variants in aging-related genes are predictive of phenotypic aging status
        </h4>
        <h6 class='publication-author'>Breitbach ME, Greenspan­ S, Resnick NM, Perera S, Gurkar AU, Absher D*, Levine AS*</h6>
        <p class='publiction-journel'>Frontiers in Genetics (in press, 2019)</p>
        <button class="hollow button" href="#">Read More</button>
      </div>
    </div>
    <div class='cell'>
      <div class='my-card'>
        <h4 class='publication-heading'>
          Exonic variants in aging-related genes are predictive of phenotypic aging status
        </h4>
        <h6 class='publication-author'>Breitbach ME, Greenspan­ S, Resnick NM, Perera S, Gurkar AU, Absher D*, Levine AS*</h6>
        <p class='publiction-journel'>Frontiers in Genetics (in press, 2019)</p>
        <button class="hollow button" href="#">Read More</button>
      </div>
    </div>
  </div>
  <div class='cell'>
    <button class="hollow button" href="#">View All Publications </button>
  </div>
</div>

<div
class='bg-img'
style='background-image:url("img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      the Team
    </h1>
  </div>
</div>
<div class='grid-x grid-padding-x grid-container grid-padding-y add-padd' >
  <div class='cell medium-8 medium-offset-2'>
    <% for (let i = 0; i < results.team.length; i++) { %>
      <div class='grid-x grid-padding-x grid-margin-y team-card' data-equalizer>
        <div class='cell shrink out-vc border-right'>
          <div class='in-vc'>
            <img class='team-img' src='<%=results.team[i].image %>'>
          </div>
        </div>
        <div class='cell auto out-vc'>
          <div class='in-vc'>
            <h5><%=results.team[i].name %> <%=results.team[i].title ? ` | ${results.team[i].title}` : `` %></h5>
            <p><%=results.team[i].Description %></p>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>

<% include ../partials/footer %>
<% include ../partials/tail %>
  
