<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img'
style='background-image:url("img/bg/bg3.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Research Interestes
    </h1>
  </div>
</div>
<div class='grid-x grid-container add-padd' >
  <div class='cell'>
    <ul class="tabs research-tabs-head" data-responsive-accordion-tabs="tabs small-accordian medium-accordion large-tabs" id="example-tabs">
      <li class="tabs-title is-active tab-first"><a href="#panel1c" class='my-reserach-tabs' aria-selected="true">Nucleo Mitochondrial Communicome</a></li>
      <li class="tabs-title tab-center"><a class='my-reserach-tabs' href="#panel2c">DNA damage and Heart disease</a></li>
      <li class="tabs-title tab-last"><a class='my-reserach-tabs' href="#panel3c">Genotoxic stress response in post-mitotic cells</a></li>
    </ul>
    
    <div class="tabs-content research-tabs" data-tabs-content="example-tabs">
      <div class="tabs-panel is-active" id="panel1c">
        <div class="center">
          <img src="img/research/e1.jpg" class='research-img' alt="Nucleo-Mitochondrial Communicome">
        </div>
        <p>The central hypothesis that guides our&nbsp;research is that stochastic, endogenous nuclear DNA damage
          alters cellular and metabolic programs, leading to progression of multiple, age- related degenerative
          diseases.
        </p>

        <p>
          Our lab characterizes novel regulators of DNA damage-dependent metabolic reprogramming. To study this we use the strengths of two very powerful
          model systems: the nematode,&nbsp;<em>Caenorhabditis elegans&nbsp; (C. elegans)</em>, a genetically tractable model
          organism to identify pathways involved in mitochondrial dysfunction in response to nuclear DNA
          damage; and mice, a physiologically relevant model in which to pursue “hits” to ultimately support rapid
          translation of new knowledge to human aging.
        </p>
      </div>
      <div class="tabs-panel" id="panel2c">
        <div class="center">
          <img src="img/research/e2.jpg" class='research-img' alt="DNA damage &amp; Heart disease">
        </div>
        <p>
          Problems with DNA repair pathways have been observed in cardiac failure patients. Additionally, recent
          data suggests that pediatric patients treated with genotoxic agents, develop disabling or life-threatening age-
          related diseases compared to their siblings.&nbsp; This includes stroke, myocardial infarction, congestive
          heart failure, insulin resistance and cardiovascular disease.</p>
        <p>
          Research in the Gurkar lab utilizes a model that lacks DNA repair in the cardiac muscle of mice to
          uncover crucial components essential for defense against such genotoxic stress.
        </p>
      </div>
      <div class="tabs-panel" id="panel3c">
        <p>Replicative cells respond to DNA damage with cell fate decisions such as cell cycle arrest, cellular
          senescence or apoptosis. However, how mitotic cells respond to such nuclear genotoxic stress in not
        well understood.</p>

        <p>
          There is some evidence that improper DNA repair in neurons (post-mitotic cells)
          contributes to neurodegenerative decline.&nbsp;Patients with defects in nucleotide excision repair (NER)
          exhibit several neurological symptoms such as microcephaly, mental retardation and deafness.
          Cockayne syndrome (CS), trichothiodystrophy (TTD) and Ataxia Telangiectasia (AT) are all
          characterized as neurodegenerative syndromes and are linked with dysregulated DNA repair.
          Therefore, we are interested in molecular mechanisms modulated by DNA damage in post-mitotic
          tissue with the goal for intervention against such debilitating diseases.
        </p>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer %>
<% include ../partials/tail %>
  
